<div class="row">
  <div class="col-md-3">
    <app-merchant-sidebar></app-merchant-sidebar>
  </div>
  <div class="col-md-9">
    <div class="register">
      <form [formGroup]="productForm" class="w-50 m-5 p-5 my-5 rounded-4 border border-info rounded" (ngSubmit)="addProducts()">
  <h2 class="text-center m-3" > Create New Product</h2>

        <div class="mb-3">
          <label for="image" class="form-label">Product Image</label>
          <input type="text" class="form-control" id="image" formControlName="image_url">
          <div *ngIf="productForm.get('image_url')?.invalid && productForm.get('image_url')?.touched" class="text-danger">
            Image URL is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="name" class="form-label">Product Name</label>
          <input type="text" class="form-control" id="name" formControlName="name">
          <div *ngIf="productForm.get('name')?.invalid && productForm.get('name')?.touched" class="text-danger">
            Product Name is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="price" class="form-label">Price</label>
          <input type="number" class="form-control" id="price" formControlName="price">
          <div *ngIf="productForm.get('price')?.invalid && productForm.get('price')?.touched" class="text-danger">
            Price must be at least 0.
          </div>
        </div>
        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea class="form-control" id="description" formControlName="description"></textarea>
          <div *ngIf="productForm.get('description')?.invalid && productForm.get('description')?.touched" class="text-danger">
            Description is required.
          </div>
        </div>
        <div class="mb-3">
          <label for="stock_quantity" class="form-label">Stock Quantity</label>
          <input type="number" class="form-control" id="stock_quantity" formControlName="stock_quantity">
          <div *ngIf="productForm.get('stock_quantity')?.invalid && productForm.get('stock_quantity')?.touched" class="text-danger">
            Stock Quantity must be at least 0.
          </div>
        </div>
        <button type="submit" class="btn btn-primary" [disabled]="productForm.invalid">Add Product</button>
      </form>
    </div>
  </div>
</div>
