.order-summary {
  padding: 15px;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: #f9f9f9;
}

.order-summary h3 {
  margin-top: 0;
}

.order-summary p {
  margin: 5px 0;
}
