<div class="row">
  <div class="col-md-3">

    <app-sidebar></app-sidebar>
  </div>
  <div class="col-md-9">

    <!-- <app-sidebar></app-sidebar> -->
<div class="  col-md-9 py-3">
  <h2 class="text-center m-3">All Users</h2>
  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Gender</th>
        <th>Email</th>
        <th>Phone Number</th>
        <th>Delete</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.fname }}</td>
        <td>{{ user.lname }}</td>
        <td>{{ user.business_name }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.phone_number }}</td>
        <td>
          <button class="btn btn-danger me-2" (click)="deletUser(user.id)" >Delete</button>

        </td>
      </tr>
    </tbody>
  </table>

</div>

  </div>
  </div>

