<div class="our-brand">
  <h2>our brand</h2>
  <div class="brand-images">
      <img src="../../../assets/menufracture-01-200x100.png" alt="">
      <img src="../../../assets/menufracture-05-200x100.png" alt="">
      <img src="../../../assets/menufracture-07-200x100.png" alt="">
      <img src="../../../assets/menufracture-08-200x100.png" alt="">
      <img src="../../../assets/menufracture-09-200x100.png" alt="">
      <img src="../../../assets/menufracture-10-200x100.png" alt="">
  </div>
</div>
