
<div class="row">
  <div class="col-md-3">

    <app-merchant-sidebar></app-merchant-sidebar>
  </div>
  
<div class="  col-md-9 py-3">

  <h2 class="text-center m-3">Your Products</h2>
  <button class="btn btn-primary py-3 px-4  rounded-3" (click)="createNewProduct()">Create New Product </button>

  <table class="table table-bordered">
    <thead class="table-dark">
      <tr>
        <th>Image</th>
        <th>Name</th>
        <th>Price</th>
        <th>Discription</th>
        <th> Stock Quantity</th>
        <th>Action</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.image }}</td>
        <td>{{ product.name }}</td>
        <td>{{ product.price }}</td>
        <td>{{ product.description }}</td>
        <td>{{ product.stockQuantity }}</td>
        <td>
          <button class="btn btn-danger me-2">Delete</button>
          <button class="btn btn-primary me-2">Edit</button>




        </td>
      </tr>
    </tbody>
  </table>






</div>




